*{
  scroll-behavior: smooth;
}
body{
  width: 100vw;
  height: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
  }
.container{
  width: 100%;
  height: 100%;
  
}
  .slide {
  width: 100vw;
  height: 100vh;
  }
  .wrapper {
  display: flex;
  flex-direction: row;
  width: 300vw;
  }
  .one {
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  
  
  }
  .two {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
 

  }
  .three {

    background: black;
  
  }
  .four {

    background: black;
  }
  
  .five {

    background: pink;
  }
  
  .six {

    background: #000000;
  }
  
  .seven {

    background: #df00df;
  }
  #in3{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #hel{
    flex: none;
    color: white;
  }
  .wrapper {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  }
  .outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  }
  
  .outer-wrapper {
  scrollbar-width: none;
  -ms-overflow-style: none;
  }
  
  ::-webkit-scrollbar {
  display:none;
  }
  .img{
    width: 480px;
    height: 480px;
  }
  .p{
    position: relative;
    margin: 50%;
    margin-bottom: 50%;
  }

  #mint
  {
      position: relative;
      width: 160px;
      height: 50px;
      line-height: 48px;
      background: #0000;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 4px;
      text-decoration: none;
      
      
  }
  
  #mint::before
  {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00 );
      background-size: 400%;
      opacity: 0;
      transition:0.5s;
      animation: animate 20s linear infinite;
      
  }
  
  #mint::after
  {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00 );
      background-size: 400%;
      opacity: 0;
      filter: blur(20px);
      transition: 0.5s;
      animation: animate 20s linear infinite;
      
      
  }
  
  #mint:hover:before,
  #mint:hover::after
  {
      opacity: 1;
  }
  
  @keyframes animate
  {
  
      0%
      {
          background-position: 0 0;
      }
      50%
      {
          background-position: 300% 0;
      }
      100%
      {
          background-position: 0 0;
      }
      
  }
  
  
  #mint #gbtn{
      position: absolute;
      display: block;
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 1px;
      text-align: center;
      background: #0c0c0c;
      color: rgba(255,255,255,0.2);
      transition: 0.5s;
      z-index: 1;;
  }
  #mint:hover #gbtn{
      color: rgba(255,255,255,1);
      -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  }
  #mint #gbtn::before
  {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: rgba(255,255,255,0.1);
  }
.last{
display: flex;
align-items: center;
justify-content: center;
  
}


